.background_section::after, .background_section::before {
    content: none !important;
}
.addition::before {
    bottom: -20px;
}


.bg_bg {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    width: calc(100% - 40px);
    margin: 0 auto;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.bg_bg div {
    display: flex;
    align-items: center;
    flex: 1;
}
.bg_bg .image_in_left img {
    height: 150px;
}
.bg_bg .head_in_right {
    font-size: 7vw;
    font-family: var(--poppins);
    color: rgba(255, 255, 255, 0.591);
    text-transform: uppercase;
    font-weight: 900;
    /* text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.282); */
    justify-content: flex-end;
}























@media (max-width: 800px) {
    .bg_bg .image_in_left img {
        height: 100px;
    }
    .bg_bg .head_in_right {
        font-size: 6vw;
    }
}

@media (max-width: 700px) {

}


@media (max-width: 500px) {
    .bg_bg {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}