
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&family=Poppins:wght@300;400;500;600;700&display=swap');


html {
    scroll-behavior: smooth;
}

:root {
    --over-lock: 'Overlock', cursive;
    --poppins: 'Poppins', sans-serif;
    --max-width: 1200px;
    --orange: #F97600;
    --body-bg: #d6d6d6;
    --company-card-text: #4b4b4b;
    --front-line-color: #6f6ec9;
    --section-blue: #6f6ec9;
    --section-blue-head: #cecdff;
    --section-lime: #AAB157;
    --section-lime-light: #EBF5AE;
    --purple: rgb(113, 50, 209);
    --purple-light: rgb(194, 154, 255);
    --wa-color: #4DC95C;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: var(--over-lock);
    -webkit-tap-highlight-color: transparent;
}

.h100 {
    height: 100px;
}



body {
    min-height: 200vh;
    background: var(--body-bg);
    max-width: 100%;
    overflow-x: hidden;
}

.nav {
    max-width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    padding-top: 110px;
    z-index: 999;
}
.navbar {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    border-radius: 12px;
}
.navbar.shadow {
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.412);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.412);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
}

.navbar .brand {
    width: 200px;
    position: relative;
    padding: 5px;
}

@media (max-width: 600px){
    .navbar .brand {
        width: 150px;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
}

.navbar .brand img {
    width: 100%;
}

.navbar .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;

}

.navbar .links .link a {
    display: block;
    padding: 8px 15px;
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 0 8px;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.508);
}
.navbar .links .link a:hover, 
.navbar .links .link.active a {
    color: var(--orange);
    text-shadow: none;
    background: black;
}

.navbar .links .link a::before, 
.navbar .links .link a::after {
    content: '';
    height: 2px;
    width: 30%;
    position: absolute;
    background: var(--orange);
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.navbar .links .link a::after {
    height: 40%;
    width: 2px;
}
.navbar .links .link a:hover::before, 
.navbar .links .link a:hover::after,
.navbar .links .link.active a::before, 
.navbar .links .link.active a::after {
    opacity: 1;
}
.navbar .links .link a div::before, 
.navbar .links .link a div::after {
    content: '';
    height: 2px;
    width: 30%;
    position: absolute;
    background: var(--orange);
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.navbar .links .link a div::after {
    height: 40%;
    width: 2px;
}
.navbar .links .link a:hover div::before, 
.navbar .links .link a:hover div::after,
.navbar .links .link.active a div::before, 
.navbar .links .link.active a div::after {
    opacity: 1;
}

.menu {
    display: none;
}







.background_section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.509)), to(rgba(168, 135, 222, 0.425))), url(./pics/bg.png);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.509), rgba(168, 135, 222, 0.425)), url(./pics/bg.png);
    background: linear-gradient(rgba(0, 0, 0, 0.509), rgba(168, 135, 222, 0.425)), url(./pics/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    position: relative;
}

.background_section .full_logo {
    width: 30%;
    min-width: 300px;
    position: absolute;
    bottom: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 9;
}

.addition::before {
    content: '1257499-V';
    position: absolute;
    bottom: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 14px;
    font-weight: 600;
    font-family: var(--poppins);
    letter-spacing: 2px;
    color: var(--orange);
    background: rgba(0, 0, 0, 0.375);
    padding: 2px 5px;
    border-radius: 5px;
}

.background_section .full_logo img {
    width: 100%;
}

.background_section::after, .background_section::before {
    content: '';
    background: var(--front-line-color);
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: calc(100% - 100px);
}
.background_section::after {
    height: 0px;
    width: 0px;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.background_section::before {
    height: 0px;
    width: 2px;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}

.background_section.active::after {
    height: 20px;
    width: 20px;
    border-radius: 10px;
}
.background_section.active::before {
    height: 1000px;
    width: 2px;
}





.container {
    max-width: var(--max-width);
    min-width: 250px;
    width: calc(100% - 40px);
    margin: 0 auto;
    position: relative;
    z-index: 5;
}


a.rnzBtnCom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-decoration: none;
    border: 2px solid var(--company-card-text);
    color: var(--company-card-text);
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 25px;
    font-family: var(--poppins);
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}
a.rnzBtnCom img {
    width: 20px;
    height: 20px;
    -webkit-transform: translateX(7px);
        -ms-transform: translateX(7px);
            transform: translateX(7px);
}
a.rnzBtnCom:hover {
    border: 2px solid transparent;
    background: white;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.267);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.267);
}



.link_construction {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    background: var(--orange);
    color: rgb(201, 226, 142);
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 700;
    overflow: hidden;
}
@media (max-width: 800px) {
    .link_construction {
        height: 120px;
        gap: 10px;
        padding: 10px;
    }
    .link_construction .l {
        text-align: center;
        font-size: 16px;
    }
    



}
.link_construction .r {
    display: block;
    text-decoration: none;
    background: rgb(255, 208, 170);
    height: 50px;
    color: var(--orange);
    padding: 0 20px;
    padding-right: 60px;
    position: relative;
    border-radius: 100px;
    font-weight: bold;
    font-family: var(--poppins);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.link_construction .r:hover {
    background: rgb(255, 255, 255);
}

.link_construction .r img {
    width: 40px;
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.link_construction .l {
    color: rgb(255, 220, 192);
}




.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.counter_container {
    background: rgba(255, 255, 255, 0.285);
    min-width: 200px;
    max-width: 300px;
    border-radius: 12px;
    overflow: hidden;
}
.counter_container .head {
    background: rgba(255, 255, 255, 0.368);
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--poppins);
    text-align: center;
    color: #5965fc;
}

.counter_container .auto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
}
.counter_container .auto .counter, .counter_container .auto span {
    font-family: var(--poppins);
    color: #dcdfff;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

@media (max-width: 600px) {
    .flex {
        gap: 10px;
    }
    .counter_container {
        min-width: 130px;
        max-width: none;
        border-radius: 8px;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }
    .counter_container .head {
        background: rgba(255, 255, 255, 0.368);
        padding: 5px 10px;
        font-size: 14px;
    }
    
    .counter_container .auto {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 80px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 5px;
        padding: 10px;
    }
    .counter_container .auto .counter, .counter_container .auto span {
        font-family: var(--poppins);
        color: #dcdfff;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }
}



.section6 {
    min-height: 100vh;
    overflow: hidden;
    background: var(--orange);
}
.container.sec6 {
    overflow: hidden;
    min-height: 100vh;
}
.sec6head {
    background: -webkit-gradient(linear, left top, left bottom, from(#6177f9), to(rgba(135, 207, 235, 0)));
    background: -o-linear-gradient(#6177f9, rgba(135, 207, 235, 0));
    background: linear-gradient(#6177f9, rgba(135, 207, 235, 0));
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-transition: 0.7s ease;
    -o-transition: 0.7s ease;
    transition: 0.7s ease;
    color: #ffffff;
}
.sec6head.active {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}


.arms_container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.arms_container::after, .arms_container::before {
    content: '';
    background: black;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 10px;
}
.arms_container::after {
    height: 0px;
    width: 0px;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.arms_container::before {
    height: 0px;
    width: 2px;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}
.arms_container.active::after {
    height: 20px;
    width: 20px;
    border-radius: 10px;
}
.arms_container.active::before {
    height: 100%;
    width: 2px;
}

.arms_container .leftArm, .arms_container .rightArm {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
}

.arms_container .rightArm {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    padding-top: 65px;
}
.arm {
    background: rgba(0, 0, 0, 0);
    color: #ffffff00;
    width: calc(100% - 35px);
    min-height: 80px;
    min-width: 200px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 22px;
    font-family: var(--poppins);
    position: relative;
    border-radius: 12px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-transition-delay: 2s;
         -o-transition-delay: 2s;
            transition-delay: 2s;
}
.arm.active {
    background: rgba(0, 0, 0, 0.252);
    color: #ffffff;
}
.arm::before, .arm::after {
    content: '';
    background: rgba(0, 0, 0, 0.452);
    position: absolute;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: calc(100% - 100px);

    
}
.arm::before {
    background: rgba(0, 0, 0, 1);
    height: 30px;
    width: 8px;
    border-radius: 15px;
    top: 150%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 1s;
         -o-transition-delay: 1s;
            transition-delay: 1s;
}
.arm::after {
    height: 3px;
    width: 38px;
    top: 50%;
    -webkit-transform: translateY(-50%) scaleX(0);
        -ms-transform: translateY(-50%) scaleX(0);
            transform: translateY(-50%) scaleX(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 1.5s;
         -o-transition-delay: 1.5s;
            transition-delay: 1.5s;
}

.arm.active::before {
    top: 50%;
}
.arm.active::after {
    -webkit-transform: translateY(-50%) scaleX(1);
        -ms-transform: translateY(-50%) scaleX(1);
            transform: translateY(-50%) scaleX(1);
}


.rightArm .arm::before {
    left: -39px;
    right: none;
}
.rightArm .arm::after {
    left: -38px;
    right: none;
    -webkit-transform-origin: 0% 50%;
        -ms-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
}
.leftArm .arm::before {
    left: none;
    right: -39px;
}
.leftArm .arm::after {
    left: none;
    right: -38px;
    -webkit-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
}
.over_flow_hidden {
    width: 100%;
    overflow: hidden;
}


@media (max-width: 700px) {
    .container.sec6 {
        overflow: visible;
    }
    .sec6head {
        line-height: 40px;
        font-size: 30px;
    }
    .arms_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .arms_container::after, .arms_container::before {
        left: 0px;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .arms_container.active::after {
        height: 20px;
        width: 20px;
        border-radius: 10px;
    }
    .arms_container .leftArm, .arms_container .rightArm {
        gap: 20px;
    }
    .arms_container .rightArm {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: end;
        padding-top: 20px;
    }
    .arms_container .leftArm {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: end;
        padding-top: 20px;
    }
    .arm {
        min-height: 50px;
        font-size: 16px;
        border-radius: 8px;
    }
    .arm.active {
        background: rgba(0, 0, 0, 0.252);
        color: #ffffff;
    }
    .arm::before, .arm::after {
        content: '';
        background: rgba(0, 0, 0, 0.452);
        position: absolute;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        top: calc(100% - 100px);
        
    }
    .arm::before {
        background: rgba(0, 0, 0, 1);
        height: 30px;
        width: 8px;
        border-radius: 15px;
        top: 150%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        -webkit-transition-delay: 1s;
             -o-transition-delay: 1s;
                transition-delay: 1s;
    }
    .arm::after {
        height: 3px;
        width: 38px;
        top: 50%;
        -webkit-transform: translateY(-50%) scaleX(0);
            -ms-transform: translateY(-50%) scaleX(0);
                transform: translateY(-50%) scaleX(0);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        -webkit-transition-delay: 1.5s;
             -o-transition-delay: 1.5s;
                transition-delay: 1.5s;
    }
    
    .arm.active::before {
        top: 50%;
    }
    .arm.active::after {
        -webkit-transform: translateY(-50%) scaleX(1);
            -ms-transform: translateY(-50%) scaleX(1);
                transform: translateY(-50%) scaleX(1);
    }
    .leftArm .arm::before {
        left: -39px;
        right: none;
    }
    .leftArm .arm::after {
        left: -38px;
        right: none;
        -webkit-transform-origin: 0% 50%;
            -ms-transform-origin: 0% 50%;
                transform-origin: 0% 50%;
    }
    
}








.footer {
    min-height: 300px;
    background: -o-linear-gradient(45deg,transparent 15%, #2d200d 15%, #2d200d 20%, transparent 20%, transparent 80%, #2d200d  80%, #2d200d 85%, transparent 85%), -o-linear-gradient(315deg, transparent 15%, #2d200d 15%, #2d200d 20%, transparent 20%, transparent 80%, #2d200d  80%, #2d200d 85%, transparent 85%),  -o-radial-gradient(top,circle,transparent 9%, #2d200d 10% ,#2d200d 15% , transparent 16%), -o-radial-gradient(bottom,circle,transparent 9%, #2d200d 10% ,#2d200d 15% , transparent 16%), -o-radial-gradient(right,circle,transparent 9%, #2d200d 10% ,#2d200d 15% , transparent 16%), -o-radial-gradient(left,circle,transparent 9%, #2d200d 10% ,#2d200d 15% , transparent 16%);
    background: linear-gradient(45deg,transparent 15%, #2d200d 15%, #2d200d 20%, transparent 20%, transparent 80%, #2d200d  80%, #2d200d 85%, transparent 85%), linear-gradient(135deg, transparent 15%, #2d200d 15%, #2d200d 20%, transparent 20%, transparent 80%, #2d200d  80%, #2d200d 85%, transparent 85%),  radial-gradient(circle at top,transparent 9%, #2d200d 10% ,#2d200d 15% , transparent 16%), radial-gradient(circle at bottom,transparent 9%, #2d200d 10% ,#2d200d 15% , transparent 16%), radial-gradient(circle at right,transparent 9%, #2d200d 10% ,#2d200d 15% , transparent 16%), radial-gradient(circle at left,transparent 9%, #2d200d 10% ,#2d200d 15% , transparent 16%);
    background-size: 5em 5em;
    background-color: #000000;
    padding-bottom: 50px;
}
.copyright {
    color: var(--orange);
    letter-spacing: 1px;
    font-size: 20px;
    font-family: var(--poppins);
    font-weight: 500;
    text-align: center;
    padding: 20px 0;
}
.later {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.later > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: calc(100% - 10px);
}
a.ct_icon {
    color: white;
    text-decoration: none;
    font-size: 120%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    background: rgba(207, 207, 207, 0);
    padding: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-radius: 12px;
}
a.ct_icon:hover {
    background: rgb(207, 207, 207);
}
a.ct_icon img {
    height: 60px;
    width: 60px;
}
a.ct_icon p.text {
    font-family: var(--poppins);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
a.ct_icon:hover p.text {
    color: black;
}

@media (max-width: 950px) and (min-width: 501px)  {
    .h100 {
        height: 50px;
    }
}


@media (max-width: 950px) {

    .navbar .links {
        min-width: 280px;
        height: 90vh;
        background-color: #51411c;
        background-image:  -o-repeating-radial-gradient( 0 0, circle, transparent 0, #51411c 17px ), -o-repeating-linear-gradient( #ff903555, #ff9035 );
        background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #51411c 17px ), repeating-linear-gradient( #ff903555, #ff9035 );
        border-radius: 7px;
        border: 1px solid #999999;
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 15px;
        top: 80px;
        right: -290px;
        -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
        -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    }

    .navbar .links.active {
        top: 80px;
        right: 10px;
    }

    .menu {
        height: 40px;
        width: 40px;
        border-radius: 5px;
        display: block;
        position: relative;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    
    .menu .burger {
        height: 100%;
        width: 100%;
        background: var(--orange);
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        overflow: hidden;
    }
    
    .menu .burger .up,
    .menu .burger .mid,
    .menu .burger .down {
        height: 3px;
        width: 20px;
        background: white;
        position: absolute;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        border-radius: 5px;
        right: 4px;
        -webkit-transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -o-transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    
    .menu .burger .up {
        width: 32px;
        top: 25%;
        background: black;
    }
    .menu .burger .mid {
        width: 15px;
        top: 50%;
        background: black;
    }
    .menu .burger .down {
        width: 24px;
        top: 75%;
        background: black;
    }
    
    .menu.active .burger .up {
        width: 32px;
        top: 50%;
        left: 50%;
        right: none;
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            -ms-transform: translate(-50%, -50%) rotate(-45deg);
                transform: translate(-50%, -50%) rotate(-45deg);
    }
    .menu.active .burger .mid {
        -webkit-transform: translate(150%, -50%);
            -ms-transform: translate(150%, -50%);
                transform: translate(150%, -50%);
    }
    .menu.active .burger .down {
        width: 32px;
        left: 50%;
        right: none;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
            -ms-transform: translate(-50%, -50%) rotate(45deg);
                transform: translate(-50%, -50%) rotate(45deg);
    }

    .background_section .full_logo {
        width: 30%;
        min-width: 280px;
        position: absolute;
        bottom: 20%;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    .background_section::after, .background_section::before {
        content: '';
        background: var(--front-line-color);
        position: absolute;
        left: 20px;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        top: calc(100% - 100px);
    }
    .background_section.active::before {
        height: 1500px;
        width: 2px;
    }

}



@media (max-width: 700px) {

    .footer {
        min-height: 200px;
    }
    .copyright {
        font-size: 14px;
        font-weight: 700;
    }
    .later {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .later > div {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        width: calc(100% - 10px);
    }
    
    a.ct_icon {
        color: white;
        text-decoration: none;
        font-size: 14px;
        padding: 5px;
        border-radius: 8px;
    }
    a.ct_icon:hover {
        background: rgb(207, 207, 207);
    }
    a.ct_icon img {
        height: 40px;
        width: 40px;
    }
    a.ct_icon p.text {
        font-family: var(--poppins);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    a.ct_icon:hover p.text {
        color: black;
    }
}


.fromRightToLeft {
    -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}

.fromLeftToRight {
    -webkit-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}
.fromLeftToRight.active, .fromRightToLeft.active {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
}
.fromDownToTop {
    -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}
.fromTopToDown {
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}
.fromTopToDown.active, .fromDownToTop.active {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
}