
.background_section::after, .background_section::before {
    content: none !important;
}
.addition::before {
    bottom: -20px;
}


.bg_bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: var(--max-width);
    width: calc(100% - 40px);
    margin: 0 auto;
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.bg_bg div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.bg_bg .image_in_left img {
    height: 150px;
}
.bg_bg .head_in_right {
    font-size: 7vw;
    font-family: var(--poppins);
    color: rgba(255, 255, 255, 0.591);
    text-transform: uppercase;
    font-weight: 900;
    /* text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.282); */
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.high_head {
    font-size: 45px;
    font-weight: 700;
    font-family: var(--poppins);
    text-align: center;
    padding: 10px 30px;
}



.services_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
}
.service {
    background: rgba(0, 0, 0, 0.050);
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--poppins);
    border-radius: 12px;
    min-height: 80px;
    padding: 20px;
    color: rgb(87, 87, 87);
    aspect-ratio: 2;
    letter-spacing: 1.5px;
    cursor: pointer;
    /* border: 3px solid rgba(255, 255, 255, 0.375); */
}
.service:hover {
    background: rgba(0, 0, 0, 0.15);
}
.full_width {
    width: 100%;
    aspect-ratio: auto;
    padding: 25px 20px;
    font-size: 16px;
}














.purple_container {
    min-height: 100vh;
    background: var(--purple);
    max-width: 100%;
    overflow: hidden;
}
.head_center {
    color: var(--purple-light);
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    font-family: var(--poppins);
    padding: 20px 10px;
}
.subhead_center {
    color: var(--purple-light);
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    font-family: var(--poppins);
    padding-bottom: 20px;
}
.setting_anim {
    width: 300px;
    height: 330px;
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: -1;
}
.setting1, .setting2 {
    position: absolute;
}
.setting_anim .setting1 {
    height: 200px;
    width: 200px;
    left: 2%;
    top: 2%;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation: anim1 5s linear 0s infinite;
            animation: anim1 5s linear 0s infinite;
}
.setting_anim .setting2 {
    height: 160px;
    width: 160px;
    left: 60%;
    top: 29%;
    -webkit-transform: rotate(27deg);
        -ms-transform: rotate(27deg);
            transform: rotate(27deg);
    -webkit-animation: anim2 5s linear 0s infinite;
            animation: anim2 5s linear 0s infinite;
}
.setting_anim div > img {
    height: 100%;
    width: 100%;
}
@-webkit-keyframes anim1 {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes anim1 {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-webkit-keyframes anim2 {
    from {
        -webkit-transform: rotate(27deg);
                transform: rotate(27deg);
    }
    to {
        -webkit-transform: rotate(-333deg);
                transform: rotate(-333deg);
    }
}
@keyframes anim2 {
    from {
        -webkit-transform: rotate(27deg);
                transform: rotate(27deg);
    }
    to {
        -webkit-transform: rotate(-333deg);
                transform: rotate(-333deg);
    }
}












.line_container {
    position: relative;
    min-height: 100vh;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
    gap: 30px;
}
.line_container::before, .line_container::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: var(--purple-light);
    border-radius: 20px;
    top: 0px;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}
.line_container::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.line_container::after {
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
}
.line_container.active::before {
    left: 0px;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
}
.line_container.active::after {
    right: 0px;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
}
.line_container .floating  {
    position: absolute;
    height: 0%;
    width: 4px;
    background: var(--purple-light);
    top: 0px;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    -webkit-transition-delay: 1s;
         -o-transition-delay: 1s;
            transition-delay: 1s;
}
.line_container .floating.ff1 {
    left: 0;
    -webkit-transform: translate(8px, 2px);
        -ms-transform: translate(8px, 2px);
            transform: translate(8px, 2px);
}
.line_container .floating.ff2 {
    right: 0;
    -webkit-transform: translate(-8px, 2px);
        -ms-transform: translate(-8px, 2px);
            transform: translate(-8px, 2px);
}
.line_container.active .floating {
    height: 100%;
}

.line_item {
    width: calc(100% - 54px);
    min-height: 70px;
    border-radius: 4px;
    
    padding: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    color: var(--purple-light);
    font-size: 24px;
    font-family: var(--poppins);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
}

.line_item::before, .line_item::after {
    content: '';
    position: absolute;
    height: 15px;
    width: 8px;
    background: var(--purple-light);
    border-radius: 2px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    
}
.line_item::after {
    height: 4px;
    width: 40px;
    border-radius: 0px;
}

.line_item:nth-child(odd) {
    padding-right: 60px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background: -o-linear-gradient(left, rgba(161, 104, 246, 0.626), transparent);
    background: -webkit-gradient(linear, left top, right top, from(rgba(161, 104, 246, 0.626)), to(transparent));
    background: linear-gradient(to right, rgba(161, 104, 246, 0.626), transparent);
}
.line_item:nth-child(even) {
    padding-left: 60px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    background: -o-linear-gradient(right, rgba(161, 104, 246, 0.626), transparent);
    background: -webkit-gradient(linear, right top, left top, from(rgba(161, 104, 246, 0.626)), to(transparent));
    background: linear-gradient(to left, rgba(161, 104, 246, 0.626), transparent);
}

.line_item:nth-child(odd)::after {
    left: -40px;
}
.line_item:nth-child(even)::after {
    right: -40px;
}
.line_item:nth-child(odd)::before {
    left: -48px;
}
.line_item:nth-child(even)::before {
    right: -48px;
}







.line_item.head:nth-child(odd) {
    background: -o-linear-gradient(left, var(--purple-light) 40%, transparent);
    background: -webkit-gradient(linear, left top, right top, color-stop(40%, var(--purple-light)), to(transparent));
    background: linear-gradient(to right, var(--purple-light) 40%, transparent);
}
.line_item.head:nth-child(even) {
    background: -o-linear-gradient(right, var(--purple-light) 50%, transparent);
    background: -webkit-gradient(linear, right top, left top, color-stop(50%, var(--purple-light)), to(transparent));
    background: linear-gradient(to left, var(--purple-light) 50%, transparent);
}

.line_item.head {
    color: var(--purple);
    font-size: 30px;
    font-family: var(--poppins);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}



@media (max-width: 800px) {
    .bg_bg .image_in_left img {
        height: 100px;
    }
    .bg_bg .head_in_right {
        font-size: 6vw;
    }
}

@media (max-width: 700px) {

}


@media (max-width: 500px) {
    .bg_bg {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .setting_anim {
        -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8);
    }
    .service {
        aspect-ratio: 3;
    }
    .full_width {
        aspect-ratio: auto;
    }
    .line_item:nth-child(odd) {
        padding-right: 30px;
    }
    .line_item:nth-child(even) {
        padding-left: 30px;
   }
   .line_item {
        font-size: 14px;
    }
    .line_item.head {
        font-size: 16px;
    }
}