

.background_section::after, .background_section::before {
    content: none !important;
}
.addition::before {
    bottom: -20px;
}


.bg_bg {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    width: calc(100% - 40px);
    margin: 0 auto;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.bg_bg div {
    display: flex;
    align-items: center;
    flex: 1;
}
.bg_bg .image_in_left img {
    height: 150px;
}
.bg_bg .head_in_right {
    font-size: 7vw;
    font-family: var(--poppins);
    color: rgba(255, 255, 255, 0.591);
    text-transform: uppercase;
    font-weight: 900;
    /* text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.282); */
    justify-content: flex-end;
}





.owers_card {
    background: linear-gradient(45deg,#f3eae2 40%, #e6b385);

    border-radius: 16px;
    overflow: hidden;
    position: relative;
    padding: 30px 40px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.owers_card .post {
    position: absolute;
    background: rgba(249, 118, 0, 0.6);
    border: 1px solid rgba(249, 118, 0, 1);
    border-top:  1px solid transparent;
    border-radius: 0 0 20px 20px;
    right: 20px;
    top: 0px;
    color: white;
    font-family: var(--poppins);
    text-transform: uppercase;
    text-shadow: 0px 2px 4px rgba(94, 94, 94, 0.37);
    letter-spacing: 2px;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 600;
}
.owers_card .image {
    height: 250px;
}
.owers_card .image img {
    height: 100%;
}
.owers_card .details {
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 20px;
}
.details .title {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 3px;
    color: var(--orange);
    text-shadow: 0px 2px 2px rgba(94, 94, 94, 0.37);
}
.details .mid {
    color: #777777;
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}
.details .message {
    color: #2d2d2d;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.md_card_container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.md_card {
    background: linear-gradient(45deg,#f3eae2 40%, #ffd0a6);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    /* width: calc(50% - 10px); */
    min-width: 400px;
    flex: 1;
}
.md_card .post {
    position: absolute;
    background: rgba(249, 118, 0, 0.6);
    border: 1px solid rgba(249, 118, 0, 1);
    border-top:  1px solid transparent;
    border-radius: 0 0 12px 12px;
    right: 10px;
    top: 0px;
    color: white;
    font-family: var(--poppins);
    text-transform: uppercase;
    text-shadow: 0px 2px 4px rgba(94, 94, 94, 0.37);
    letter-spacing: 1px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 500;
}
.md_card .left .image {
    height: 150px;
    width: 150px;
    border-radius: 1000px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.334);
}
.md_card .left .image img {
    height: 100%;
    width: 100%;
}
.md_card .right {
    padding-top: 30px;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.md_title {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1px;
    color: var(--orange);
    text-shadow: 0px 2px 2px rgba(94, 94, 94, 0.164);
}
a.md_email {
    height: 30px;
    display: flex;
    text-decoration: none;
    color: black;
    font-family: var(--poppins);
    font-size: 14px;
    letter-spacing: 1px;
    gap: 5px;
    line-height: 22px;
    transition: 0.5s;
    border-radius: 4px;
    padding: 5px;
}
a.md_email:hover {
    background:rgba(255, 255, 255, 0.334);
}
a.md_email img {
    height: 100%;
}









@media (max-width: 800px) {
    .bg_bg .image_in_left img {
        height: 100px;
    }
    .bg_bg .head_in_right {
        font-size: 6vw;
    }
}

@media (max-width: 700px) {
    .owers_card {
        padding: 20px;
        padding-top: 50px;
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .owers_card .post {
        border-radius: 0 0 14px 14px;
        right: 20px;
        font-size: 16px;
    }
    .owers_card .image {
        height: 200px;
    }
    .details .title {
        font-size: 30px;
        letter-spacing: 2px;
    }
    .details .mid {
        font-size: 12px;
    }
    .details .message {
        color: #2d2d2d;
        font-size: 14px;
    }
    .md_card_container {
        
    }
    .md_card {
        min-width: 300px;
    }
    .md_card .post {
        border-radius: 0 0 8px 8px;
        padding: 8px 14px;
        right: 10px;
        /* right: 50%;
        transform: translateX(50%); */
    }
    .md_card .left .image {
        height: 130px;
        width: 130px;
    }
    .md_card .right {
        padding-top: 30px;
    }
    .md_title {
        font-size: 24px;
    }
    a.md_email:hover {
        background:rgba(255, 255, 255, 0.334);
    }
    a.md_email img {
        height: 100%;
    }
}


@media (max-width: 500px) {
    .bg_bg {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .owers_card {
        flex-direction: column;
        gap: 20px;
    }
    .owers_card .post {
        width: 90%;
        right: 50%;
        transform: translateX(50%);
        text-align: center;
        line-height: 16px;
        letter-spacing: 1px;
        border-radius: 0 0 8px 8px;
        padding: 8px 10px;
    }
    .details .message {
        font-size: 14px;
    }



    .md_card {
        min-width: 250px;
        padding-top: 50px;
        flex-direction: column;
    }
    .md_card .post {
        width: 90%;
        right: 50%;
        transform: translateX(50%);
        text-align: center;
        line-height: 16px;
        letter-spacing: 1px;
        border-radius: 0 0 6px 6px;
        padding: 8px 10px;
    }
    .md_card .left .image {
        height: 130px;
        width: 130px;
    }
    .md_card .right {
        padding-top: 0px;
    }
    .md_title {
        font-size: 24px;
    }
    a.md_email:hover {
        background:rgba(255, 255, 255, 0.334);
    }
    a.md_email img {
        height: 100%;
    }
}